.servicesThreeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    padding: 50px;
    margin: 3rem 6rem;
   
    background-color: #fff;
    box-shadow: 8px 8px 40px 3px rgba(104, 142, 182, 0.40);
    border-radius: 20px;
}

.cardServicesChildren {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 20px 0;
}

.cardServicesChildren img {
    width: 100px;
    height: 100px;
}

.containerIconsServices {
    text-align: center;
}

.servicesThreeContainer h2 {
    color: #3349A1;
    text-align: center;
    font-weight: 700;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-services {
    color: #212121;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.infoServiceBox {
    width: 60%;
}

@media screen and (max-width: 768px) {
    .servicesThreeContainer {
        width: 95vw;
        padding: 25px;
      
    }


    .title-services {
        text-align: center;

    }

    .cardServicesChildren {
        flex-direction: column;
        gap: 40px;
    }

    .cardServicesChildren img {
        width: 68px;
        height: 68px;
    }

    .infoServiceBox {
        width: 100%;
    }
}

@media (max-width: 1024px) {

    .title-services {
        text-align: center;

    }
   


.servicesThreeContainer {

    margin: 2.5rem 3rem;
    padding: 40px;
    width:85%;
    position: relative;



}

.cardServicesChildren {
  
    flex-direction: column;
    gap: 40px;
}

.cardServicesChildren img {
    width: 68px;
    height: 68px;
  


}

.infoServiceBox {
    width: 100%;
    justify-content: center;
}

}

/* 
@media (min-width: 1024px) {

 


.servicesThreeContainer {

    margin: 2.5rem 5rem;
    padding: 25px;
    position: relative;


}
} */