.containerServiceDos {
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.conTodoSerDos {
    display: flex;
    align-items: center;
    justify-content: center !important;
    flex-direction: column;
}

.ServiceContainerRow {
    padding: 50px;
    margin-top: 0px !important;
    display: flex;
    height: auto;
    width: 98%;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: center;

    box-shadow: 8px 8px 40px 3px rgba(104, 142, 182, 0.40);
    border-radius: 20px;
}

.containerFirstServ {
    margin-bottom: 4rem;
    display: flex;
    align-items: flex-end;
}

.containerTitle {
    justify-content: center;
    display: flex;
}

.tituloSecDos {
    font-family: "Montserrat";
    color: #3349A1;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 40px;
}

.subtitleServiceDos {
    font-family: "Montserrat";
    font-size: 22px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: normal;
    color: #3349A1;
    padding: 20px 0px 20px 0px;
}

.imgServiceDos {
    width: 100px;
}

.imgServiceDosA {
    width: 80px;
}

.containerTextService {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.textServiceDos {
    color: #212121;
    text-align: center;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 70%;
}

.serviceContainerButton {
    margin-top: 3rem !important;
    display: flex;
    justify-content: center;
}

.serviceButtons {
    background-color: #CD373B !important;
    border: none !important;
    border-radius: 10px !important;
}

.serviceButtons:hover {
    background-color: #FF5963 !important;
    border: none !important;
}


@media screen and (max-width: 768px) {
    .subtitleServiceDos {
        text-align: center;
        
    }

    .tituloSecDos {
        font-size: 26px;
        text-align: center;
    }

    .containerTextService {
        width: 95vw;
    }

    .serviceButtons {
        width: 100%;
    }
    .ServiceContainerRow{
        width: 85%;
    }
   
}

@media (min-width: 768px) and (max-width: 1024px) {
 
     .ServiceContainerRow {
        padding: 30px;
        margin-top: 0px !important;
        display: flex;
        height: auto;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: white;
        justify-content: center;
    
        box-shadow: 8px 8px 40px 3px rgba(104, 142, 182, 0.40);
        border-radius: 20px;
    } 

    .subtitleServiceDos {
        text-align: center;
    }

  
    .textServiceDos{
        font-size: 18px;
        text-align: center;
    }


    .tituloSecDos {
        font-size: 26px;
    }

    .containerTextService {
        width: 95vw;
    }

    .serviceButtons {
        width: 100%;
    }
}