.heroContainer {
    padding: 14.1rem 9.5rem 39.6rem;
}

.heroContainer2, .heroContainer3 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10rem;
}

.heroPresentation, .heroImageWho {
    width: 18.125rem;
    text-align: justify;
}

.heroPresentationImage {
    width: 16.125rem;
}

.heroPresentationImage p {
    color: var(--main, var(--colors-main-friendly-blue, #3349A1));
}

.specialTextHome {
    font-size: larger;
    font-weight: 400;
}

.heroWho {
    width: 23rem;
    text-align: justify;
}

h3 {
    font-size: 2rem !important;
    font-weight: 800 !important;
}