.containerPagos {
    height: auto;
}

.titlePay {
    color: #212121;
    font-family: 'Montserrat';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.containerPay {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.containerBox {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
}

.buttonDosPay {
    display: flex;
    height: 120px;
    padding: 0px 80px;
    width: 100%;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    background-color: white;
    border: 1px solid #DEE5FF;
    border-radius: 16px;
}

.buttonOnline.active {
    background-color: #3349A1;
}

.buttonEfectivo.active {
    background-color: #3349A1;
}

.titleEfectivo.active-text {
    color: white;
}
.titleOnline.active-text {
    color: white;
}

.buttonOnline {
    display: flex;
    width: 600px;
    height: 120px;
    padding: 0px 60px;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
    background-color: white;
    box-shadow: 8px 8px 40px 3px rgba(104, 142, 182, 0.40);

    align-items: center;
    justify-content: center;
}

.titleOnline {
    font-family: 'Montserrat';
    color: #212121;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.buttonEfectivo {
    display: flex;
    width: 600px;
    height: 120px;
    padding: 0px 60px;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
    background-color: white;
    box-shadow: 8px 8px 40px 3px rgba(104, 142, 182, 0.40);

    align-items: center;
    justify-content: center;
}

.titleEfectivo {
    font-family: 'Montserrat';
    color: #212121;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.containerBtn {
    display: flex;
    align-items: flex-start;
}

.interBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.interBtn p {
    margin: 0px;
}

.containerOnlinePay {
    gap: 1rem;
}

.active .imageOnline {
    filter: invert(0%); 
}
  
.imageOnline {
    filter: invert(100%);
}

.active .imageEfectivo {
    filter: invert(100%); 
}
  
.imageEfectivo {
    filter: invert(0%);
}

@media (max-width: 576px) {
    .buttonEfectivo {
        width:min-content;
    }
    .buttonOnline {
        width: min-content;
    }

    .titlePay {
        font-size: 16px;
    }

    .titleOnline {
        font-size: 20px;
    }

    .titleEfectivo {
        font-size: 20px;
    }
}