    
 @media only screen and (min-width: 1441px) and (max-width: 2800px) {

    .buttonOnline .titleOnline::before {
        content: "Pago online";
      }

      .tuk {
        filter: grayscale(1);
      }

      .parteUnoPagos {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
      }

      .bUno {
        padding: 0px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      }
      
      .buttonEfectivo .titleEfectivo::before {
        content: "Pago en efectivo";
      }

    .containerPagos {
        height: 123vh;
        width: auto !important;
        flex-direction: column;
    }

    .botonesPagos {
        padding: 0px !important;
    }

.titlePay {
    color: #212121;
    font-family: 'Montserrat';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.buttonPagos {
    border: none;
    background-color:#F8F9FC;
    padding: 20px;
    width: auto !important;
}

.flechaTitle {
    align-items: center;
}

.containerPay {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
    width: auto !important;
}

.containerBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttonDosPay {
    display: flex;
    height: 120px;
    padding: 0px 80px;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    background-color: white;
    border: 1px solid #DEE5FF;
    border-radius: 16px;
    width: 600px;
}

.buttonOnline.active {
    background-color: #3349A1;
}

.buttonEfectivo.active {
    background-color: #3349A1 !important ;
}

.titleEfectivo.active-text {
    color: white;
}
.titleOnline.active-text {
    color: white;
}

.buttonOnline {
    display: flex;
    width: 600px;
    height: 120px;
    padding: 0px 60px;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
    background-color: white;
    box-shadow: 8px 8px 40px 3px rgba(104, 142, 182, 0.40);

    align-items: center;
    justify-content: center;
}
.botonesPaym {
    padding: 0px !important;
}
.boxRow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3rem;
}

.botOn {
    display: flex;
    padding-left: 1.5rem;
    align-items: center;
    justify-content: center;
}

.titleOnline {
    color: rgba(33, 33, 33, 0.60);
    font-family: 'Montserrat';
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.buttonEfectivo {
    display: flex;
    width: 600px;
    height: 120px;
    padding: 0px 60px;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
    background-color: white;
    box-shadow: 8px 8px 40px 3px rgba(104, 142, 182, 0.40);

    align-items: center;
    justify-content: center;
}

.titleEfectivo {
    color: rgba(33, 33, 33, 0.60);
    font-family: 'Montserrat';
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.containerBtn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 0px !important;
}


.pag {
    padding: 0px !important;
}

.containerBtnDos {
    display: flex;
    align-items: flex-end !important;
    justify-content: flex-end ;
}

.containerOnlinePay {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2.3rem;
    flex-direction: column;
    gap: 1rem;
    margin-top: 20px !important;
}

.containerOnlinePayA {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.7rem;
    flex-direction: column;
    gap: 1rem;
    margin-top: 20px !important;
}

.interBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.interBtn p {
    margin: 0px;
}


.active .imageOnline {
    filter: invert(0%); 
}
.hidden {
    display: none;
  }
  
.imageOnline {
    filter: invert(50%);
}

.active .imageEfectivo {
    filter: invert(100%); 
}
  
.imageEfectivo {
    filter: invert(50%);
}

}

    @media only screen and (min-width: 1400px) and (max-width: 1440px) {

        .tuk {
            filter: grayscale(1);
          }
    .buttonOnline .titleOnline::before {
        content: "Pago online";
      }

      .parteUnoPagos {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
      }

      .bUno {
        padding: 0px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      }
      
      .buttonEfectivo .titleEfectivo::before {
        content: "Pago en efectivo";
      }

    .containerPagos {
        height: 178vh;
        width: auto !important;
        flex-direction: column;
    }

    .botonesPagos {
        padding: 0px !important;
    }

.titlePay {
    color: #212121;
    font-family: 'Montserrat';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.buttonPagos {
    border: none;
    background-color:#F8F9FC;
    padding: 20px;
    width: auto !important;
}

.flechaTitle {
    align-items: center;
}

.containerPay {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
    width: auto !important;
}

.containerBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttonDosPay {
    display: flex;
    height: 120px;
    padding: 0px 80px;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    background-color: white;
    border: 1px solid #DEE5FF;
    border-radius: 16px;
    width: 600px;
}

.buttonOnline.active {
    background-color: #3349A1;
}

.buttonEfectivo.active {
    background-color: #3349A1 !important ;
}

.titleEfectivo.active-text {
    color: white;
}
.titleOnline.active-text {
    color: white;
}

.buttonOnline {
    display: flex;
    width: 600px;
    height: 120px;
    padding: 0px 60px;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
    background-color: white;
    box-shadow: 8px 8px 40px 3px rgba(104, 142, 182, 0.40);

    align-items: center;
    justify-content: center;
}
.botonesPaym {
    padding: 0px !important;
}
.boxRow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3rem;
}

.botOn {
    display: flex;
    padding-left: 1.5rem;
    align-items: center;
    justify-content: center;
}

.titleOnline {
    color: rgba(33, 33, 33, 0.60);
    font-family: 'Montserrat';
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.buttonEfectivo {
    display: flex;
    width: 600px;
    height: 120px;
    padding: 0px 60px;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
    background-color: white;
    box-shadow: 8px 8px 40px 3px rgba(104, 142, 182, 0.40);

    align-items: center;
    justify-content: center;
}

.titleEfectivo {
    color: rgba(33, 33, 33, 0.60);
    font-family: 'Montserrat';
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.containerBtn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 0px !important;
}


.pag {
    padding: 0px !important;
}

.containerBtnDos {
    display: flex;
    align-items: flex-end !important;
    justify-content: flex-end ;
}

.containerOnlinePay {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2.3rem;
    flex-direction: column;
    gap: 1rem;
    margin-top: 20px !important;
}

.containerOnlinePayA {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.7rem;
    flex-direction: column;
    gap: 1rem;
    margin-top: 20px !important;
}

.interBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.interBtn p {
    margin: 0px;
}


.active .imageOnline {
    filter: invert(0%); 
}
.hidden {
    display: none;
  }
  
.imageOnline {
    filter: invert(50%);
}

.active .imageEfectivo {
    filter: invert(100%); 
}
  
.imageEfectivo {
    filter: invert(50%);
}

}

    @media only screen and (min-width: 993px) and (max-width: 1399px) {
    .containerPagos {
        height: 180vh;
        width: auto !important;
        display: flex;
        flex-direction: column;
        padding: 0px !important;
    }
    .tuk {
        filter: grayscale(1);
      }

    .buttonOnline .titleOnline::before {
        content: "Online";
    }
    
    .buttonEfectivo .titleEfectivo::before {
        content: "Efectivo";
    }

    .parteUnoPagos {
        padding: 0px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btParte {
        padding: 0px !important;
    }


    .interBtn img {
        width: 69px;
    }
    
    .titlePay {
        color: var(--colors-tipography-black, #212121);
        font-family: 'Montserrat';
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    .boxRow {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: row;
        padding: 0px;
    }

    .buttonPagos {
        display: none;
    }
    
    .containerPay {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
    }

    
    .containerBox {
        display: flex;
        flex-direction: row;
    }

    .botonesPagos {
        display: flex;
        padding: 0px !important;
        width: auto;
    }

    .containerPagosOk {
        margin-top: 0px;
    }
    
    .buttonDosPay {
        display: flex;
        width: 154px;
        height: 110px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: var(--border-radius-border-radius-sm, 16px);
        border: 1px solid #DEE5FF;
        background: #FFF;
    }
    
    .buttonOnline.active {
        background-color: #F8F9FC;
        color: #3349A1;
        border-bottom: 2px solid  #3349A1;
    }
    
    .buttonEfectivo.active {
        background-color: #F8F9FC;
        color: #3349A1;
        border-bottom: 2px solid  #3349A1;
    }
    
    .titleEfectivo.active-text {
        color: #3349A1;
    }
    .titleOnline.active-text {
        color: #3349A1;
    }
    
    .buttonOnline img {
        display: none;
    }

    .buttonOnline {
        border: 0px;
        background-color: #F8F9FC;
        height: 43px;
        width: 100%;
    }

    .buttonEfectivo {
        border: 0px;
        background-color: #F8F9FC;
        height: 43px;
        width: 100%;
    }

    .buttonOnline:hover {
        background-color: #7b7b7b2a;
    }

    .buttonEfectivo:hover {
        background-color: #7b7b7b2a;
    }

    .buttonEfectivo img {
        display: none;
    }
    
    .titleOnline {
        color: rgba(33, 33, 33, 0.60);
        text-align: center;
        font-family: 'Montserrat';
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.1px;
        margin-bottom: 0px;
    }

    .titleEfectivo {
        color: rgba(33, 33, 33, 0.60);
        text-align: center;
        font-family: 'Montserrat';
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.1px;
        margin-bottom: 0px;
    }
    
    .containerBtn {
        display: flex;
        align-items: center;
        flex-direction: column;;
        width: 100%;
        padding: 0px !important;
    }

    .containerBtnDos {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .containerOnlinePay {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 20px !important;
    }

    .containerOnlinePayA {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 20px !important;
    }
    
    .interBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    
    .interBtn p {
        display: none;
    }
    

    
    .active .imageOnline {
        filter: invert(0%); 
    }
    .hidden {
        display: none;
      }
      
    .imageOnline {
        filter: invert(100%);
    }
    
    .active .imageEfectivo {
        filter: invert(100%); 
    }
      
    .imageEfectivo {
        filter: invert(0%);
    }

}

    @media only screen and (min-width: 768px) and (max-width: 992px) {
    .containerPagos {
        height: 160vh;
        width: auto !important;
        display: flex;
        flex-direction: column;
        padding: 0px !important;
    }
    .tuk {
        filter: grayscale(1);
      }



    .buttonOnline .titleOnline::before {
        content: "Online";
    }
    
    .buttonEfectivo .titleEfectivo::before {
        content: "Efectivo";
    }

    .parteUnoPagos {
        padding: 0px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btParte {
        padding: 0px !important;
    }


    .interBtn img {
        width: 69px;
    }
    
    .titlePay {
        color: var(--colors-tipography-black, #212121);
        font-family: 'Montserrat';
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    .boxRow {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: row;
        padding: 0px;
    }

    .buttonPagos {
        display: none;
    }
    
    .containerPay {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px !important;
    }

    
    .containerBox {
        display: flex;
        flex-direction: row;
    }

    .botonesPagos {
        display: flex;
        padding: 0px !important;
        width: auto;
    }
    
    .buttonDosPay {
        display: flex;
        width: 154px;
        height: 110px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: var(--border-radius-border-radius-sm, 16px);
        border: 1px solid #DEE5FF;
        background: #FFF;
    }
    
    .buttonOnline.active {
        background-color: #F8F9FC;
        color: #3349A1;
        border-bottom: 2px solid  #3349A1;
    }
    
    .buttonEfectivo.active {
        background-color: #F8F9FC;
        color: #3349A1;
        border-bottom: 2px solid  #3349A1;
    }
    
    .titleEfectivo.active-text {
        color: #3349A1;
    }
    .titleOnline.active-text {
        color: #3349A1;
    }
    
    .buttonOnline img {
        display: none;
    }

    .buttonOnline {
        border: 0px;
        background-color: #F8F9FC;
        height: 43px;
        width: 100%;
    }

    .buttonEfectivo {
        border: 0px;
        background-color: #F8F9FC;
        height: 43px;
        width: 100%;
    }

    .buttonOnline:hover {
        background-color: #7b7b7b2a;
    }

    .buttonEfectivo:hover {
        background-color: #7b7b7b2a;
    }

    .buttonEfectivo img {
        display: none;
    }
    
    .titleOnline {
        color: rgba(33, 33, 33, 0.60);
        text-align: center;
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; 
        letter-spacing: 0.1px;
        margin-bottom: 0px;
    }

    .titleEfectivo {
        color: rgba(33, 33, 33, 0.60);
        text-align: center;
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; 
        letter-spacing: 0.1px;
        margin-bottom: 0px;
    }
    
    .containerBtn {
        display: flex;
        align-items: center;
        flex-direction: column;;
        width: 100%;
        padding: 0px !important;
    }
    
    .containerOnlinePay {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 20px !important;
        margin-bottom: 0px;
    }

    .containerOnlinePayA {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        margin-top: 20px !important;
        margin-bottom: 0px;
        align-items: center;
    }
    
    .interBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    
    .interBtn p {
        display: none;
    }
    
    
    .active .imageOnline {
        filter: invert(0%); 
    }
    .hidden {
        display: none;
      }
      
    .imageOnline {
        filter: invert(100%);
    }
    
    .active .imageEfectivo {
        filter: invert(100%); 
    }
      
    .imageEfectivo {
        filter: invert(0%);
    }

}

    @media only screen and (min-width: 360px) and (max-width: 767px) {
    .containerPagos {
        height: auto;
        width: auto !important;
        display: flex;
        flex-direction: column;
        padding: 0px !important;
    }
    .tuk {
        filter: grayscale(1);
      }

    .parteUnoPagos {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0px !important;
    }
    
    .btParte {    
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 0px;
    }

    .buttonOnline .titleOnline::before {
        content: "Online";
    }
    
    .buttonEfectivo .titleEfectivo::before {
        content: "Efectivo";
    }


    .interBtn img {
        width: 69px;
    }
    
    .titlePay {
        color: var(--colors-tipography-black, #212121);
        font-family: 'Montserrat';
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    .boxRow {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: row;
        padding: 0px;
    }

    .buttonPagos {
        display: none;
    }
    
    .containerPay {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px !important;
    }

    
    .containerBox {
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .botonesPagos {
        display: flex;
        padding: 0px !important;
        width: auto;
    }
    
    .buttonDosPay {
        display: flex;
        width: 154px;
        height: 110px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: var(--border-radius-border-radius-sm, 16px);
        border: 1px solid #DEE5FF;
        background: #FFF;
    }
    
    .buttonOnline.active {
        color: #3349A1;
        border-bottom: 2px solid  #3349A1;
    }
    
    .buttonEfectivo.active {
        color: #3349A1;
        border-bottom: 2px solid  #3349A1;
    }
    
    .titleEfectivo.active-text {
        color: #3349A1;
    }
    .titleOnline.active-text {
        color: #3349A1;
    }
    
    .buttonOnline img {
        display: none;
    }

    .buttonOnline {
        background-color: #F8F9FC;
        height: 43px;
        width: 100%;
        border: none;
    }

    .buttonEfectivo {
        background-color: #F8F9FC;
        height: 43px;
        width: 100%;
        border: none;
    }

    .buttonOnline:hover {
        background-color: #7b7b7b2a;
    }

    .buttonEfectivo:hover {
        background-color: #7b7b7b2a;
    }

    .buttonEfectivo img {
        display: none;
    }
    


    .titleEfectivo {
        color: rgba(33, 33, 33, 0.60);
        text-align: center;
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; 
        letter-spacing: 0.1px;
        margin-bottom: 0px;
    }

    .titleOnline {
        color: rgba(33, 33, 33, 0.60);
        text-align: center;
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; 
        letter-spacing: 0.1px;
        margin-bottom: 0px;
    }

    .Pag {
        display: flex;
        flex-direction: row;
    }
    
    .containerBtn {
        display: flex;
        align-items: center;
        flex-direction: column;;
        width: 100%;
        padding: 0px !important;
    }
    
    .containerOnlinePay {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .interBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    
    .interBtn p {
        display: none;
    }
    
    .containerOnlinePay {
        gap: 1rem;
        margin-top: 20px !important;
    }
    
    .containerOnlinePayA {
        gap: 1rem;
    }
    .active .imageOnline {
        filter: invert(0%); 
    }
    .hidden {
        display: none;
      }
      
    .imageOnline {
        filter: invert(100%);
    }
    
    .active .imageEfectivo {
        filter: invert(100%); 
    }
      
    .imageEfectivo {
        filter: invert(0%);
    }

}


