.homeTesisContainer{
    display: flex;
    padding: 100px 20px;
    justify-content: space-around;
    gap: 60px;
}
.homeTesisImage img{
    border-radius: 25px;
    object-fit: cover;
    width: 350px;
    height: 320px;
}
.homeTesisText{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.homeTesisText span{
    background-color:#CD373B;
    padding:12px 18px;
    text-align: center;
    border-radius: 12px;
}
.homeTesisText span:hover{
    background-color: #FF5963;
    transition: all 1s;
}
.homeTesisText span .linkAboutTesis{
    text-decoration: none;
    color:#fff ;
    text-transform: uppercase;
    font-weight: 500;
}
.homeTesisText h3{
    text-align: left;
    color: #212121;
}

@media screen and (max-width: 768px) {
    .homeTesisContainer{
        flex-direction: column;
    }
    .homeTesisText{
        flex-direction: column;
    }
    .homeTesisText span{
        width: 100%;
    }
    .homeTesisImage{
        display: none;
    }
}