


.principalcardblog {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: url("../../assets/Rectangleblog.png");
    width: 100%;
    margin-bottom: 100px;
    height: 600px;
    /* height: 730px; segun figma */
}

.titleblog {
    text-align: center;
    font-family: 'DM Serif Display';
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 7% 10%;
    color: var(--colors-light-friendly-blue, #EAEEFF);
}

.subtitleblog {
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2%;
}

.principalcardblog img {
    width: 100%;
    height: 30%;
    flex-shrink: 0;
    background: linear-gradient(0deg, rgba(8, 13, 34, 0.80) 0%, rgba(8, 13, 34, 0.80) 100%), url(<path-to-image>), lightgray 0px -679.585px / 100% 331.161% no-repeat;

}

.segondcardblog {
    display: flex;
    width: 95%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

}

.card2blog {
    display: flex;
    margin: auto;
    width: 83vw;
    height: 353px;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    border-radius: var(--border-radius-border-radius-lg, 48px);
    background: #FFF;
    box-shadow: 8px 8px 40px 3px rgba(104, 142, 182, 0.40);
}

.card2blogimg img {
    width: 458px;
    height: 353px;
    align-self: stretch;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: var(--border-radius-border-radius-lg, 48px 0 0 48px);
    background: #FFF;
    box-shadow: 8px 8px 40px 3px rgba(104, 142, 182, 0.40);

}

.card2blogtext {
    display: flex;
    padding: 2% 30px 0px 0px;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
    flex: 1 0 0;
}

.text-section {
    display: flex;
    /* padding: 0px 30px; */
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.text-sectionSubtitle {
    color: var(--Tipografa, var(--colors-tipography-black, #212121));
    font-family: 'Montserrat';
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-sectionTitle {
    color: var(--colors-main-friendly-blue, #3349A1);
    font-family: 'Montserrat';
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* margin-bottom: 0.5px; */

}

.text-sectionDescription {
    color: var(--Tipografa, var(--colors-tipography-black, #212121));
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.buttonshareblog {
    display: flex;

    width: 72px;
    height: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 999999px;
    background: var(--colors-main-friendly-blue, #3349A1);
}

.blogSoon {
    color: var(--colors-main-friendly-blue, #3349A1);
    font-size: 36px;
    font-weight: 600;
    padding: 8% 0 5%;
    text-align: center;
}

@media (max-width:1441px) {
    /* .principalcardblog {
        height: 652px;
    } */
    .titleblog {
        padding: 12% 0; 
    }
    .containerblog {
        /* background-color: #EAEEFF; */
    }
    .card2blog {
        width: 90vw;
    }
    .blogSoon {
        font-size: 32px;
    }
}

@media  (max-width:1023px) {
    
    .titleblog {
        padding: 5%;
        text-align: left;
    }
    .principalcardblog {
        margin-bottom: 0;
        align-items: flex-start;
    }
    .text-sectionSubtitle {
        font-size: 20px;
    }
    .segondcardblog {
        width: 100%;
    }
    .containerblog {
        background-color: unset;
    }
    .card2blog {
        width: 90%;
        margin: 1% auto;
    }
    .card2blogtext {
        padding: 1%;
    }

    .buttonshareblog {
        margin-bottom: unset;
        margin-right: unset;
        display: flex;
        width: unset;
        height: unset;
        justify-content: unset;
        align-items: unset;
        gap: unset;
        flex-shrink: unset;
        margin-top: -100px;
        margin-right: 10px;
    }
    .blogSoon {
        font-size: 24px;
    }

    .titleblog {
        font-size: 24px !important;
        text-align: center;
        font-weight: 600 !important;
        color: var(--colors-main-friendly-blue, #3349A1) !important;
        font-family: 'Montserrat'; 
        padding-top: 7%;
    }

    .card2blog a {
        width: 100%;
    }
    .principalcardblog {
        background-image: none;
        height: 100px;
    }

    .subtitleblog {
        display: none
    }

    .redsblog {
        display: none;
    }

    .segondcardblog {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .card2blog {
        display: flex;
        width: 95%;
        margin: 2% auto;
        height: auto;
        padding-bottom: 10px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: var(--border-radius-border-radius-lg, 16px 16px 16px 16px);
        box-shadow: 8px 8px 40px 3px rgba(104, 142, 182, 0.40);

    }

    .card2blogimg {
        width: 100%
    }

    .card2blogimg img {
        height: auto;
        width: 100%;
        
        object-fit: cover;
        object-position: center;
        height: 270px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        border-radius: var(--border-radius-border-radius-lg, 16px 16px 0 0);
    }

    .text-section {
        display: flex;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 1px;
        align-self: stretch;
    }

    .text-sectionSubtitle {
        color: var(--colors-tipography-black, #212121);
        font-family: 'Montserrat';
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .text-sectionTitle {
        color: var(--colors-main-friendly-blue, #3349A1);
        font-family: 'Montserrat';
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .text-sectionDescription {
        color: var(--Tipografa, var(--colors-tipography-black, #212121));

        /* Mobile-Body */
        font-family: 'Montserrat';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-self: stretch;
    }

    .buttonshareblog {
        width: 24px;
        height: 4.003px;
        flex-shrink: 0;
        position: absolute;
        margin-bottom: 18rem;
    }
}


@media  (max-width:1060px) {
    .titleblog {
        font-size: 92px;
    }
}

@media screen and (max-width:768px) {
    .titleblog {
        padding: 8%;
        text-align: left;
        font-size: 20px;
    }
    .principalcardblog {
        align-items: center;
    }
    .text-sectionSubtitle {
        font-size: 14px;
        font-weight: 500;
    }
    .text-section {
        padding: 10px;
    }
    .text-sectionTitle {
        font-size: 18px;
    }
    .text-sectionDescription {
        font-size: 14px;
    }
    
    .segondcardblog {
        width: 100%;
    }
    .containerblog {
        background-color: unset;
    }
    .card2blog {
        width: 93%;
        margin: 1% auto;
    }
    .card2blogtext {
        padding: 1%;
    }


    .buttonshareblog {
        margin-bottom: unset;
        display: flex;
        width: unset;
        height: unset;
        justify-content: unset;
        align-items: unset;
        gap: unset;
        flex-shrink: unset;
        margin-top: -75px;
        margin-right: 10px;
    }
    .buttonshareblog img {
        
        width: 50px;
    }
    .blogSoon {
        font-size: 16px;
        padding: 14% 5% 5%;
    }

}