.misionVision {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

.misionContainer {
    padding: 24px;
    box-shadow: 8px 8px 40px 3px rgba(104, 142, 182, 0.40);
    border-radius: 48px;

    display: flex;
    align-items: center;
    width: 80vw;
}

.textMision {
    color: #212121;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.titleMision {
    font-family: 'Montserrat';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #CD373B;
}

/* @media (max-width: 768px) {
    .imgMision {
        width: 47px;
    }
} */