/* @media (max-width: 1440px) { */
.misionVision {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    margin: 8rem 0;
}

.misionContainer {
    padding: 35px 24px;
    background-color: white;
    box-shadow: 8px 8px 40px 3px rgba(104, 142, 182, 0.40);
    border-radius: 48px;
    display: flex;
    align-items: center;
    width: 93vw;
    justify-content: center;
    justify-content: space-around;
}

.textMision {
    color: #212121;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 400; 
    line-height: normal;
    width: auto !important;
}

.textMision::marker {
    font-size: 13px;
}
.titleMision {
    font-family: 'Montserrat';
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #CD373B;
    padding-bottom: 10px;
}
.imgMision {
    width: 200px;
    height: 206px;
    flex-shrink: 0;
}
.contImg {
    padding: 0px 0px 0px 40px !important;
}
.containerText {
    width: 73%;
}
@media screen and (min-width:1441px) {
    .misionContainer {
        width: 76vw;
    }
}

@media screen and (max-width:1024px) {
    .misionContainer {
        width: 90vw;
    }
}
@media (max-width: 1440px)  {
    .textMision {    
        font-size: 18px;
    }

    .titleMision {
        font-size: 32px;
    }

    .imgMision {
        width: 100px; 
    }
    .contImg {
        width: unset;
    }
    .containerText {
        width: 75%;
    }
    .containerAboutUs1 {
        width: 85%;
    }
}
@media (max-width: 576px) {
    .textMision {
        width: auto;
        font-size: 14px;
        text-align: center;
    }

    .titleMision {
        font-size: 18px;
    }

    .imgMision {
        width: 60px !important; 
    }

    .containerText {
        padding-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .contImg {
        display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px !important;
    }
} 