.principalCardArticle {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: url("../../assets/Rectangleblog.png");
    width: 100%;
    margin-bottom: 100px;
    height: 468px;
}

.principalCardArticle img {
    width: 100%;
    height: 30%;
    flex-shrink: 0;
    background: linear-gradient(0deg, rgba(8, 13, 34, 0.80) 0%, rgba(8, 13, 34, 0.80) 100%), url(<path-to-image>), lightgray 0px -679.585px / 100% 331.161% no-repeat;

}

.titleArticle {
    text-align: center;
    font-family: 'DM Serif Display';
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 8% 10%;
    color: var(--colors-light-friendly-blue, #EAEEFF);
}

.subtitleArticle {
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: 2%;
}
.articleCard {
    text-align: center;
    padding: 0 10%;
}

.articleContent {
    color: var(--colors-tipography-black, #212121);
    text-align: justify;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
}

.articleTitle {
    color: #3349A1;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 2%;
}

.articleImage {
    border-radius: var(--border-radius-border-radius-md, 24px);
    background: url(<path-to-image>), lightgray 0.97px -8.819px / 99.713% 102.778% no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 868px;
    height: 507px;
}

.articleTextContainer {
    padding: 5%;
    text-align: left;
}

.articleTextContainer h4 {
    padding: 0 0 5%;
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
}


@media (max-width: 1441px) {
    .principalCardArticle {
        height: 309px; 
    }
    .articleContent {
        font-size: 20px;
        line-height: 140.9%;
    }
    .articleImage {
        width: 687px;
        height: 444px;
    }
    .articleTitle {
        font-size: 48px;
    }
    .titleArticle {
        font-size: 42px;
    }
}

@media (max-width: 1023px) {
    .titleArticle {
        font-size: 24px !important;
        text-align: center !important;
        font-weight: 600 !important;
        color: var(--colors-main-friendly-blue, #3349A1) !important;
        font-family: 'Montserrat'; 
        padding-top: 7%;
    }
    .principalCardArticle {
        background-image: none;
        height: 100px;
    }
    .subtitleArticle {
        display: none
    }
    .articleImage {
        width: 535px;
        height: 396px;
    }

    .articleContent {
        font-size: 18px;
    }
    .titleblog{
        color: rgba(51, 73, 161, 0.39);
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;    
        text-align: left;
    }
}

@media screen and (max-width: 767px) {
    .articleImage {
        width: 290px;
        height: 253px;
    }
    .articleContent {
        font-size: 14px;
        line-height: 140.9%;
    }
    
    .articleTitle {
        font-size: 24px;
    }
    
    .articleTextContainer h4 {
        padding: 0 3% 5%;
        font-size: 14px;
    }
    
}
