.swiperArticle {
    border-radius: var(--border-radius-border-radius-sm, 16px);
    background: #FFF;
    box-shadow: 8px 8px 40px 3px rgba(104, 142, 182, 0.40);
}

.swiperArticle p {
    margin-bottom: 1%;
}

.swiperArticleText {
    color: black;
    text-align: left;
    padding: 3% 7%;
}
.swiperSubtitle {
    font-size: 26px;
    font-weight: 500;
}
.swiperTitle {
    color: var(--colors-main-friendly-blue, #3349A1);
    font-size: 42px;
    font-weight: 600;
}
.swiperContent {
    font-size: 24px;
    font-weight: 400;
}
.swiperMoreArticles{
    padding: 4%;
}

.swiperArticle img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 315px;
    border-radius: 16px 16px 0 0;
}
.moreArticles {
    color: #3349A1;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}


@media screen and (max-width: 767px) {
    .swiperArticle {
        border-radius: var(--border-radius-border-radius-sm, 16px);
        box-shadow: 8px 8px 40px 3px rgba(104, 142, 182, 0.40);
    }
}