.containerCard {
    display: flex;
    width: 40vw;
    height: 630px;
    padding: 25px;
    margin: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 93px;
    flex-shrink: 0;
    border-radius: var(--border-radius-border-radius-md, 24px);
    background: #FFF;
    /* Sombrita */
    box-shadow: 8px 8px 40px 3px rgba(104, 142, 182, 0.40);
}

.cardSubtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 34px;
}

.cardsubtitle1,.cardsubtitle2,.cardsubtitle3 {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.cardsubtitletext1,.cardsubtitletext2,.cardsubtitletext3 {
    color: #212121;
    font-family: 'Montserrat';
}

.message {
    width: 36px;
    height: 36px;
}

.cel {
    width: 36px;
    height: 36px;
}

.direction {
    width: 36px;
    height: 36px;
}

/* Mobile */
@media screen and (max-width: 767px) {
    .containerCard {
        display: flex;
        width: 90%;
        height: 300px;
        padding: 40px 4px;
        margin: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        border-radius: var(--border-radius-border-radius-md, 24px);
    }

    .cardTitle {
        font-family: 'Montserrat';
        font-size:18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: #3349A1;
        align-items: stretch;
        padding-left: 20px;
        
    }

    .cardSubtitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
    }

    .cardsubtitle1, .cardsubtitle2 ,.cardsubtitle3 {
        display: flex;
        padding: 10px;
        align-items: center;
        gap: 20px;
    }

    .cardsubtitletext1,.cardsubtitletext2,.cardsubtitletext3 {
        color: #212121;
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .cel img,.direction img,.message img  {
        width: 36px;
        height: 36px;
    }
}

/* Tablet */
@media (min-width:768px) and (max-width:1024px) {
    .containerCard {
        display: flex;
        width: 85%;
        margin: 10px;
        height: 456px;
        padding: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 93px;
        border-radius: var(--border-radius-border-radius-md, 24px);
    }

    .cardTitle {
        color: #212121;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        align-self: stretch;
    }

    .cardsubtitle1, .cardsubtitle2, .cardsubtitle3{
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .cardsubtitletext1, .cardsubtitletext2, .cardsubtitletext3{
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

/* desktop md */
@media  (min-width: 1025px) {
    .cardsubtitletext1{
        font-size: 20px;
    }
    .cardsubtitletext2{
        font-size: 20px;
    }
    .cardsubtitletext3{
        font-size: 20px;
    }
    .containerCard{
        width: 42vw;
    }
    .cardTitle{
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: #212121;
    }
    .cardsubtitletext1,.cardsubtitletext2,.cardsubtitletext3 {
        color: #212121;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

/* desktop xl */
@media  (min-width: 1920px) {
    .containerCard{
        width: 35vw;
    }
    .cardTitle {
        font-size: 42px;
        
    }
}