.containerCard{
    display: flex;
    width: 500px;
    height: 630px;
    padding: 25px;
    margin: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 93px;
    flex-shrink: 0;
    border-radius: var(--border-radius-border-radius-md, 24px);
    background: #FFF;

    /* Sombrita */
    box-shadow: 8px 8px 40px 3px rgba(104, 142, 182, 0.40);
}

.cardTitle{
    color: #212121;
    font-family: Montserrat;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cardSubtitle{
    display: flex;
    /* width: 445px; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 34px;
}
.cardsubtitle1{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.message{
    width: 36px;
    height: 36px ; 
}
.cardsubtitletext1{
    color: #212121;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;  
}

.cardsubtitle2{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.cel{
    width: 36px;
    height: 36px; 
}
.cardsubtitletext2{
    color: #212121;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;  
}

.cardsubtitle3{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.direction{
    width: 36px;
    height: 36px; 
}
.cardsubtitletext3{
    color: #212121;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;  
}
@media screen and (max-width: 768px) {
    .containerCard{
        width: 100%;
        height: 400px;
        padding: 0;
        margin: 0;
        align-items: center;
    }
    .cardTitle{
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: norma;
        color: #3349A1;
        justify-content: center;
    }
    .cardSubtitle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 34px;
        width: 100%;
        padding:0 10px;
    }
    .message img, .cel img, .direction img{
        width: 26px;
        height: 26px; 
    }

}