.whatsappContainer {    
    bottom: 0vh;
    right: 0vh;
    position: sticky;    
    text-align: right;
}
.whatsappIcon {
    width: 130px;
}



@media (max-width: 792px) {

    .whatsappIcon {
        width: 100px;
    }
        
}