.teamContainer {
    display: flex;
    color: white;
    justify-content: space-evenly;
    text-align: center;
    margin: 5% 0;
}

.personContainer img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.infoPerson {
    width: 30vw;
    height: 42%;
    margin: 10% 0;
    border-radius: var(--border-radius-border-radius-lg, 48px);
    background: var(--colors-main-friendly-blue, #3349A1);
    box-shadow: 8px 8px 20px 3px rgba(0, 0, 0, 0.25);
    padding: 8%;
    text-align: left;
}

.infoPerson p {
    font-weight: 300;
}


@media (max-width: 1440px){

}

/* tablet */
@media (max-width: 1024px) {
    .teamContainer {
        flex-direction: column;
        align-items: center;
    }
    .infoPerson {
        width: 70vw;
        margin: 5% 0;
        padding: 4%;
        border-radius: var(--border-radius-border-radius-sm, 16px);
        background: var(--colors-main-friendly-blue, #3349A1);
        box-shadow: 8px 8px 20px 3px rgba(0, 0, 0, 0.25);
    }
}

@media  screen and (max-width: 768px) {

}