.homeContainer3 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 7rem;
    align-items: center;
}

.homeImageWho {
    width: 548px;
    height: 531px;
    border-radius: 18px;
    object-fit: cover;
    object-position: center;
    box-shadow: 8px 8px 40px 3px rgba(104, 142, 182, 0.40);
}
.homeWhoTitle {
    font-size: 33px !important;
}
.homeWho {
    width: 25rem;
}
.homeWho p {
    text-align: justify;
}

.homeWhoText {
    margin: 6% 0px;
}
.aux .homeButtons {
    display: none;
}


@media (max-width: 1440px) {
    .homeImageWho {
        width: 80%;
        aspect-ratio: 1/1;
        height: unset;
    }
    .homeWho {
        width: unset;
    }
}

@media (max-width: 1024px) {

    .homeContainer3 {
        flex-direction: column-reverse;
        margin-bottom: 5rem;
    }
    
    .homeWho .homeButtons{
        display: none;
    }
    .homeWho {
        width: 80vw;
    }
    
    .aux .homeButtons {
        display: block;
    }
    .homeImageWho {
        width: 534px;
        height: 380px;
        margin-bottom: 10%;
        box-shadow: unset;
        border-radius: 16px;
    }
}

@media  screen and (max-width: 767px) {
    .homeContainer3 {
        border-bottom: 1px solid #ACBCFF;
        background: var(--colors-light-friendly-blue, #EAEEFF);
        box-shadow: 0px 0px 0px 20px #EAEEFF;
        margin-bottom: 4rem;
    }
    .homeWhoTitle {
        font-size: 22px !important;
    }
    .homeImageWho {
        width: 328px;
        height: 220px;
    }
    .homeWho {
        width: unset;
        padding: 6%;
    }
    .homeWho p {    
        margin-bottom: 1rem;
    }
    .homeButtons {
        width: 90vw;
    }
    .aux {
        text-align: center;
    }
}