.swiper-container{
  width: 100%;
  height: 100%;
}
.swiper-carrusel-home {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  border-radius: 25px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.carouselHome img {
  object-position: center !important;
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center -750px;
  border-radius: 25px;
}
.swiperRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-bullet {
  background-color: #dc3545 !important;
  width: .8rem !important;
  height: .8rem !important;
}

@media screen and (max-width: 992px) {
  .carouselHome img {
    width: 720px;
    height: 358px; 
  }
} 

@media screen and (max-width: 767px) {
  .carouselHome img {
    height: 312px;
  }
  .container {
    width: auto !important;
  }
  
} 

@media screen and (max-width: 576px) {
  .carouselHome img {
    height: 220px;
  }
} 

@media screen and (max-width: 360px) {
  .carouselHome img {
    width: 328px;
  }
}

@media screen and (min-width: 1920px) {
  .carouselHome img {
    width: 1615px;
    height: 789px; 
  }
}