
.swiper {
  width: 100%;
  height: 100%;
}
  
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.carouselHome img {
  object-position: center !important;
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center -750px;
  border-radius: 25px;
}

.swiperRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-bullet {
  background-color: #dc3545 !important;
  width: .8rem !important;
  height: .8rem !important;
}




@media screen and (max-width: 992px) {
  .carouselHome img {
    height: 512px;
  }
} 

@media screen and (max-width: 767px) {
  .carouselHome img {
    height: 312px;
  }
  .container {
    width: auto !important;
  }
  
} 


@media screen and (max-width: 576px) {
  .carouselHome img {
    height: 200px;
  }
} 
@media screen and (max-width: 360px) {
  .carouselHome img {
    height: 200px;
  }
} 