.redesContainer {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end !important;
    margin-top:  180px !important;
}

.redesIcon {
    margin: 10px;
}
.contRedesRed {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
}

@media (max-width: 768px) {
    .redesContainer {
        display: none !important;
    }
}