@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
  box-sizing: border-box;
  font-size: 20px;
  line-height: normal;
}

body {
  background: #F8F9FC;
}


@media screen and (max-width: 768px) {
  * {
    font-size: small;
  }
}