.homeContactContainer{
    display: flex;
    justify-content: space-around;
    gap: 60px;
    align-items: center;
    padding: 100px 20px;
}
.homeContactImage img{
    width: 350px;
    height: 320px;
    border-radius: 25px;
    object-fit: cover;
    object-position: center;
}
.homeContactInfo{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.homeContactInfo h3{
    text-align: left;
    color: #212121;
}
.homeContactInfo span {
    background-color: #CD373B;
    border-radius: 12px;
    padding:12px 18px;
}
.homeContactInfo span:hover{
    background-color: #FF5963;
    transition: all 1s;
}
.homeContactInfo span .linkContactHome{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}
.cardImageThree{
    display: none;
}
@media screen and (max-width: 1024px){
    .homeContactContainer{
        flex-direction: column;
    }
    .homeContactInfo{
        align-items: center;
    }
    .homeContactInfo span{
        width: 80%;
        text-align: center;
        margin-top: 25px;
    }
    .homeContactImage{
        display: none;
    }
    .cardImageThree{
        display: block;
        width: 90%;
        margin: 20px;
        border-radius: 18px; 
    }
}
@media screen and (max-width: 768px) {
    .homeContactInfo span{
        width: 100%;
        margin: 0;
    }
    .cardImageThree{
        width: 100%;
        margin: 20px 0;
    }
}